stages:
  - build

variables:
  RUST_TARGET: x86_64-pc-windows-msvc
  CARGO_HOME: "$CI_PROJECT_DIR/.cargo"
  RUSTUP_HOME: "$CI_PROJECT_DIR/.rustup"

build-windows:
  image: ivangabriele/tauri:fedora-40-20
  stage: build
  before_script:
    - curl -fsSL https://bun.sh/install | bash
    - source ~/.bashrc || true
    - dnf install -y mingw64-nsis unzip wget lld llvm clang
    - wget -q https://github.com/tauri-apps/binary-releases/releases/download/nsis-3/nsis-3.zip
    - unzip -q nsis-3.zip
    - cp -v nsis-3.08/Stubs/* /usr/share/nsis/Stubs/ || true
    - cp -vr nsis-3.08/Plugins/* /usr/share/nsis/Plugins/ || true
    - rustup target add $RUST_TARGET
    - cargo install --locked cargo-xwin

  script:
    - '/bin/bash -lc "cd $CI_PROJECT_DIR && (command -v bun >/dev/null 2>&1 && bun install --no-save || npm ci) && npm run build && npm run tauri build -- --runner cargo-xwin --target $RUST_TARGET"'

  artifacts:
    paths:
      - src-tauri/target/$RUST_TARGET/release/*.exe
      - src-tauri/target/$RUST_TARGET/release/bundle/nsis/*.exe
    expire_in: 1 week
